*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.stepper {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.stepper .step {
    background: black;
    color: white;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.stepper .progress {
    height: calc(100% - 2rem);
    width: 5px;
    background: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}